@import "tailwindcss";
@plugin "daisyui";
@source "../node_modules/@emamid/svelte-data-table";

html {
	height: 100%;
}

body {
	height: 100%;
}

#app {
	height: 100%;
}

main {
	height: 100%;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
